<div class="loginbox clearfix <?php echo $columns ?>">
  <div class="loginpanel">
    <h2>Invalid log in</h2>
      <div class="subcontent loginsub">
        <div class="loginerrors">
          <span class="error">
            <img class="icon icon-pre" alt="Error" src="https://elma.sps.ed.ac.uk/theme/image.php/ssps/core/1412604887/i/warning">
            Invalid user account
          </span>
        </div>
        <div class="loginform">
          <p class="lead text-center">
            You must be enrolled in one or more courses in order to access ELMA.
            <br />
            If you have been enrolled but are unable to login please report the issue to your course tutor or secretary.
          </p>
          <p class="text-center">
            <a href="https://www.ease.ed.ac.uk/services/">Return to EASE</a>
          </p>
        </div>
      </div>
  </div>
</div>
